fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

alembic

redis
celery

qdrant-client

python-dotenv

python-jose[cryptography]

passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-multipart

prometheus-client

httpx

pydantic-settings

email-validator

openai
